<section id="introduction">
    <p>
        Hello, I’m Jason and this is my Ruby on Rails Developer Application.  
        I created this application, so I’d have a live web application to hone my developer skills.  
        My goal is to refine my process for software development by adding a new feature to this site each week.  
        Each feature will be fully documented.  
        Starting with user stories and continuing through the development of full set of tests.
    </p>
</section>

