<section id="introduction">
    <p>Hello, I’m Jason.  I’ve been doing freelance software development for a few years now.  I started by building extension applications for Autodesk AutoCAD and Civil 3D.  Well, my story really started with an old Commodore 64 computer... but that’s another story. 

A few years ago, I decided that I wanted to pursue coding as a full-time profession.  I spent about six months trying to learn everything on my own, then decided I needed a structure and curriculum to follow.  Bloc is an online coding apprenticeship program which utilizes working with mentors to learn software development. <br/>

This application is my “Ruby on Rails Developer” application. The objective of this application is practice, practice and more practice. <br/>

Practice creating and working with user stories. <br/>

Practice test driven development with Rspec. <br/>

Practice with the ruby on rails framework. <br/>

Practice semantic HTML <br/>

My goal is to add a feature to this application every week and to document my process each week in a blog post.</p>
</section>

